.typo-h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
}

.typo-h2 {
  font-weight: 700;
  font-size: 42px;
  line-height: 55px;
}

.typo-h3 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}
.typo-h4 {
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
}

.typo-h5 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.typo-h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.subtitle-1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.subtitle-2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.body-1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.body-2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.btn-large {
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
}

.btn-medium {
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
}

.btn-small {
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
}

.caption {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
.overline {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
